<div class="row" style="margin-top:10%;">
	<div class="form-group" ng-form name="loginForm">
		<div class="input-group">
		  <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
		  <input type="text" name="email" ng-model="user.email" class="form-control input-lg" placeholder="Email" required>
		</div>
		<div class="input-group">
		  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
		  <input type="password" name="password" ng-model="user.password" class="form-control input-lg" placeholder="Password" required>
		</div>
		<div class="alert alert-danger" role="alert">
		  <strong>Failure!</strong> Wrong username or password.
		</div>
		<button type="button" class="btn btn-primary btn-lg btn-block" style="font-family: 'kongtext';" ng-click="login()">Login</button>
	</div>
</div>
<div class="row" style="margin-top:5%;">
	<a href="#"><img src="assets/facebook.png" style="width:100%; height:70px;"></a>
</div>
<div class="row text-center" style="margin-top:2%;" style="margin-top:5%;">
	<p style="color:white;font-size:30px;">OR</p>
</div>
<div class = "row" style="margin-top:2%;">
	<button type="button" style="height:10%;font-size:50px;" class="btn btn-warning btn-lg btn-block" ui-sref="registration"><p style="font-size:30px;">Join us</p></button>
</div>