<div  class="container">
	<div class="col">
		<div class="col-md-4 col-lg-4">
			<div class="input-group">
			  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			  <input type="text" class="form-control input-lg" placeholder="Username">
			</div>
			<div class="input-group">
			  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
			  <input type="text" class="form-control input-lg" placeholder="Password">
			</div>
			<div ng-if= "showErrorMessage" class="alert alert-danger" role="alert"><strong> Error! </strong>{{errorMessage}}</div>
			<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="login()">Login</button>
			<a><span class="text-center text-info" ng-click="goRegister()">Don't have an account? Register.</span></a>
			
		</div>
	</div>
</div>