<div style="width:100vw;height:100vh;"ng-controller="chatController">
<modal id="localProfileModal">
  <div class="row">
    <div class="col-lg-4 col-md-4">
      <div class="list-group">
        <a href="#" class="list-group-item active">
          Cras justo odio
        </a>
        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
      </div>
    </div>
    <div class="col-lg-8 col-md-8">
    </div>
  </div>
</modal>
<div class="row" style="background-color:#642EFE;height:60vh;" >
      <div class = "col-lg-3 col-md-3" style="margin-top:9%;margin-left:3%;">
        <div class="panel panel-default">
          <div class="panel-body" >
            <div class="row center-block text-center">
              <a ng-click="showLocalProfileModal()"><img src="../assets/jon.png" class="img-responsive center-block"></a>
            </div>
            <div class="row text-center">
                <p class="pixelated" style="color:blue;"> hodorisblack</p>
            </div>
            <div class="row center-block">
              <div ng-if="!showVideo" style="width:100%; height: 60%; background-color:black"></div>
              <video ng-if="showVideo" id="video" style="width:100%; height: 60%;" autoplay></video>
            </div>
            <div class="row text-left center-block">
              <div class="panel panel-default">
                <ul style="list-style-type:none;">
                  <li><span class="pixelated">Age:</span><span class="pixelated" style="color:red;"> 24</span></li>
                  <li><span class="pixelated">Gender:</span><span class="pixelated" style="color:red;"> Male</span></li>
                  <li><span class="pixelated">Personality(MBTI):</span><span class="pixelated" style="color:red;"> ESTJ</span></li>
                  <li><span class="pixelated">IQ:</span><span class="pixelated" style="color:red;"> 225</span></li>
                  <li><span class="pixelated">General knowledge index:</span><span class="pixelated" style="color:red;">1</span></li>
                </ul>
              </div>
             </div>
          </div>
        </div>
    </div>
    <div class = "col-lg-5 col-md-5 ">
        <div class="row" style="margin-top:3%;">
          <img src = "assets/random.png" class="img-responsive center-block" alt="Responsive image">
        </div>
        <div class="panel panel-default" id="chat" style="background: rgba(255, 255, 255, 0.9)!important;margin-top:2%;">
          <div class="panel-heading" id="chatHeading" style="background: rgba(46, 51, 56, 1)!important;">
              <div class="panel-title">
                <strong> Chat </strong>
              </div>
          </div>
          <div class="panel-body" >
             <div class="row"  id="chatBody" style="max-height:110%; height:110%;">
              <perfect-scrollbar scroll-down="true" class="scroller" wheel-propagation="true" wheel-speed="5" refresh-on-change="messages" min-scrollbar-length="20">
                    <div ng-repeat="user in messages" class="col-lg-12 col-md-12">
                        <div class="col-lg-10 col-md-10 col-xs-10 col-sm-10" id="rightChatMessage" ng-class-even="'col-lg-push-2 col-md-push-2 col-xs-push-2 col-sm-push-2'">
                          <div class="panel panel-default" style="background: rgba(255, 255, 255, 0.7)!important;" >
                            <div class="panel-body" style="word-wrap: break-word;" ng-class-even="'text-right'">
                              {{user.text}}<br><br>
                              <span style="font-size:10px;color:lightblue;" ng-bind="user.date |  date:'MM/dd/yyyy HH:mm:ss'"></span>
                            </div>
                          </div>
                        </div> 
                     </div>
                </perfect-scrollbar>
              </div>
              <div class="row" style="padding:1%;">
                  <div class="col-lg-12 col-md-12">
                    <div class="input-group">
                        <input class="form-control input-large" ng-keypress="sendMessage($event)" style="background: rgba(255, 255, 255, 0.8)!important;" type="text" placeholder="Add to the conversation" ng-model="chat.message" id="inputText">
                        <span class="input-group-addon" style="background-color:grey; color:white; cursor:pointer;border-radius:5px;" ng-click="sendMessage()" >Send</span>
                      </div>
                  </div>
                  <div class="clearfix"></div>
              </div>
          </div>
         </div>
    </div>
    <div class = "col-lg-3 col-md-3" style="margin-top:9%;">
        <div class="panel panel-default">
          <div class="panel-body" >
            <div class="row center-block text-center">
              <a ng-click="showRemoteProfileModal()"><img src="../assets/anonymous.png" class="img-responsive center-block"></a>
            </div>
            <div class="row text-center" style="padding:1%;">
                <p class="pixelated" style="color:blue;"> aidsaddict</p>
            </div>
            <div class="row center-block">
              <div ng-if="!showVideo" style="width:100%; height: 60%; background-color:black"></div>
              <video ng-if="showVideo" id="video" style="width:100%; height: 60%;" autoplay></video>
            </div>
            <div class="row text-left center-block">
              <div class="panel panel-default">
                <ul style="list-style-type:none;">
                  <li><span class="pixelated">Age:</span><span class="pixelated" style="color:red;"> 24</span></li>
                  <li><span class="pixelated">Gender:</span><span class="pixelated" style="color:red;"> Female</span></li>
                  <li><span class="pixelated">Personality(MBTI):</span><span class="pixelated" style="color:red;"> ESTJ</span></li>
                  <li><span class="pixelated">IQ:</span><span class="pixelated" style="color:red;"> 40</span></li>
                  <li><span class="pixelated">General knowledge index:</span><span class="pixelated" style="color:red;">0.001</span></li>
                </ul>
              </div>
             </div>
          </div>
        </div>
    </div>
 </div>
</div>
 <modal id="userModal">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4"><img src="{{currUser.picture}}" class="img-thumbnail img-responsive img-circle"></div>
      </div>
      <hr>
      <div class="row">
        <h4 class="text-center"><i class="fa fa-fw fa-map-marker fa-2x"></i> {{currUser.location.street}} {{currUser.location.city}}, {{currUser.location.state}}</h4>
        <h4 class="text-center"><i class="fa fa-fw fa-phone fa-2x"></i> {{currUser.cell}}</h4>
        <h4 class="text-center"><i class="fa fa-fw fa-envelope-o fa-2x"></i> {{currUser.email}}</h4>
        <h4 class="text-center"><i class="fa fa-fw fa-user fa-2x"></i> {{currUser.username}}</h4>
      </div>
    </div>
 </modal>
 <modal id="paymentModal">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-primary panel-payment">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Silver</h3>
                </div>
                <div class="panel-body panel-body-payment">
                    <div class="the-price">
                        <h1>
                            $1.99</h1>
                    </div>
                    <table class="table">
              <!-- class="active" for blue bg -->
                        <tr>
                            <td>
              <span class="glyphicon glyphicon-ok text-success">
              </span>
                                200 credits
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
            <span>
             <img src="../assets/paypal-icon.png"/>
          </span>
                    <a href="http://www.jquery2dotnet.com" class="btn btn-primary" role="button">Recharge</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-success panel-payment">
                <div class="cnrflash">
                    <div class="cnrflash-inner">
                        <span class="cnrflash-label">MOST
                            <br>
                            POPULAR</span>
                    </div>
                </div>
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Gold</h3>
                </div>
                <div class="panel-body panel-body-payment">
                    <div class="the-price">
                        <h1>
                            $3.99</h1>
                    </div>
                    <table class="table">
                        <tr >
                            <td>
              <span class="glyphicon glyphicon-ok text-success">
              </span>
                                450 credits
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
            <span>
             <img src="../assets/paypal-icon.png"/>
          </span>
                    <a href="http://www.jquery2dotnet.com" class="btn btn-success" role="button">Recharge</a>
                </div>
            </div>
        </div>
    </div>
</div>
</modal>