<div style="width:100vw;height:100vh;background-image: url('../assets/background.jpg');background-size: cover; background-repeat:   no-repeat;  background-position: center center;">
<div class="row">
<div class = "col-lg-3 col-md-3 text-center">
  <a ><img src="../assets/anonymous.png" style="width:60%;max-height:auto;" class="img-thumbnail img-responsive img-circle"></a><br>
  <div><span style="color:white;">Credits: &nbsp;</span><span class="badge">42</span></div>
  <button class="btn btn-info" ng-click="showPaymentModal()">Recharge</button><br>
  <ul style="list-style-type:none;text-align:left !important;">
     <li><span style="color:yellow;">Age:</span><span style="color:white;"> 24</span></li>
     <li><span style="color:yellow;">Gender:</span><span style="color:white;"> Male</span></li>
      <li><span style="color:yellow">Personality(MBTI):</span><span style="color:white;"> ESTJ</span></li>
      <li><span style="color:yellow">IQ:</span><span style="color:white;"> 90</span></li>
      <li><span style="color:yellow">General knowledge:</span><span style="color:white;">1</span></li>
  </ul><br>
  <div class="list-group">
    <a class="btn btn-info btn-block">Personality(MBTI)</a>
    <a class="btn btn-info btn-block">Reasoning</a>
    <a class="btn btn-info btn-block">General knowledge</a>
    <a class="btn btn-warning btn-block">Filters</a>
    <a class="btn btn-danger btn-block">Match me!</a>
  </div> 
</div>
<div class = "col-lg-8 col-md-8 " >
    <div class="panel panel-default" id="chat" style="background: rgba(46, 51, 56, 0.2)!important;">
      <div class="panel-heading" id="chatHeading" style="background: rgba(255, 255, 180, 0.5)!important;">
          <div class="panel-title">
            <strong> Chat </strong>
          </div>
      </div>
      <div class="panel-body" >
         <div class="row"  id="chatBody" style="max-height:70%;overflow-y: scroll; ">
          <div ng-repeat="u in users" class="col-lg-12 col-md-12">
              <div class="col-lg-2 col-md-2" id="leftChatMessage" ng-class-odd="'col-lg-push-10 col-md-push-10'">
                <a href="" ng-click="showUserModal($index)"><img title="{{u.user.name.first}}" src="../assets/anonymous.png" class="img-thumbnail img-responsive img-circle" ng-class-even="'pull-right'" ng-class-odd="'pull-left'" style="width:70px;"></a>
              </div>  
              <div class="col-lg-10 col-md-10" id="rightChatMessage" ng-class-odd="'col-lg-pull-2 col-md-pull-2'">
                <div class="panel panel-default" style="background: rgba(255, 255, 255, 0.7)!important;" >
                  <div class="panel-body" style="word-wrap: break-word;">
                    {{u.user.text||"Hello!"}}<br>
                    <span class="label label-info">{{ u.date||'' | date:'h:mma' }}</span>
                  </div>
                </div>
              </div> 
           </div>
          </div>
          <div class="row" style="padding:1%;">
              <div class="col-lg-12 col-md-12">
                <div class="input-group">
                    <input class="form-control input-large" ng-keypress="doPost($event)" style="background: rgba(255, 255, 255, 0.8)!important;" type="text" placeholder="Add to the conversation" ng-model="chat.message" id="inputText">
                    <span class="input-group-addon" ng-click="doPost()" >Post</span>
                  </div>
              </div>
              <div class="clearfix"></div>
          </div>
      </div>
    </div>
 </div>
 </div>
</div>
 <modal id="userModal">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4"><img src="{{currUser.picture}}" class="img-thumbnail img-responsive img-circle"></div>
      </div>
      <hr>
      <div class="row">
        <h4 class="text-center"><i class="fa fa-fw fa-map-marker fa-2x"></i> {{currUser.location.street}} {{currUser.location.city}}, {{currUser.location.state}}</h4>
        <h4 class="text-center"><i class="fa fa-fw fa-phone fa-2x"></i> {{currUser.cell}}</h4>
        <h4 class="text-center"><i class="fa fa-fw fa-envelope-o fa-2x"></i> {{currUser.email}}</h4>
        <h4 class="text-center"><i class="fa fa-fw fa-user fa-2x"></i> {{currUser.username}}</h4>
      </div>
    </div>
 </modal>
 <modal id="paymentModal">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-primary panel-payment">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Silver</h3>
                </div>
                <div class="panel-body panel-body-payment">
                    <div class="the-price">
                        <h1>
                            $1.99</h1>
                    </div>
                    <table class="table">
              <!-- class="active" for blue bg -->
                        <tr>
                            <td>
              <span class="glyphicon glyphicon-ok text-success">
              </span>
                                200 credits
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
            <span>
             <img src="../assets/paypal-icon.png"/>
          </span>
                    <a href="http://www.jquery2dotnet.com" class="btn btn-primary" role="button">Recharge</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-success panel-payment">
                <div class="cnrflash">
                    <div class="cnrflash-inner">
                        <span class="cnrflash-label">MOST
                            <br>
                            POPULAR</span>
                    </div>
                </div>
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Gold</h3>
                </div>
                <div class="panel-body panel-body-payment">
                    <div class="the-price">
                        <h1>
                            $3.99</h1>
                    </div>
                    <table class="table">
                        <tr >
                            <td>
              <span class="glyphicon glyphicon-ok text-success">
              </span>
                                450 credits
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
            <span>
             <img src="../assets/paypal-icon.png"/>
          </span>
                    <a href="http://www.jquery2dotnet.com" class="btn btn-success" role="button">Recharge</a>
                </div>
            </div>
        </div>
    </div>
</div>
</modal>